.body{
    margin:0%;
    height: 100%;
    width: 100%;
    color: #ffee00;
    background-color:#2e2e2e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topmenu{
    height: 6%;
    width: 100%;
    background-color: #292929;
}
.logo {
    margin-top:0.2%;
    margin-left:2%;
    height: 60px;
    width: 140px;
}

.a {
    float:right;
    margin-top:0.6%;
    margin-left:2%;
    margin-right:2%;
    text-align: left;
    text-decoration: none;
    font-size:24px;
    color: #ffee00;
}
.willkommenl{
    width: 30%;
    height: 45%;
    background-color: #424242;
    margin-left:20%;
    margin-top:6%; 
    font-size:64px;
    float:left;
}
.willkommenr{
    font-size:36px;
    text-align: left;
    margin-top:6%; 
    width: 30%;
    height: 45%;
    background-color: #333333;
    float:left;
}
.willkommensnachricht{
    color:#eddd00;
    text-align:right;
    font-weight: bold;
    margin-right:5%;
    margin-top:4%; 
}
.willkommenrn{
    margin-top:18%;
    margin-bottom:2%;
    margin-left:2%;
}
.footer {
    color: rgba(255, 238, 0, 0.3);
    margin: auto;
    margin-top:35%;
    width: 50%;
    text-align: center;
}
.footera{
    text-decoration: none;
    color: rgba(255, 238, 0, 0.3);
    margin-left:2%;
    margin-right:2%;
}
